@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
    font-size: 16px;
    color: #404040;
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(to bottom right, #ff9eaa 0% 65%, #e860ff 95% 100%);
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 2rem 0;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}

.card {
    background-color: white;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.banner {
    background-image: url('https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.profile-pic {
    background-color: white;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.profile-pic:hover {
    transform: translateY(50%) scale(1.3);
}

.menu {
    width: 100%;
    height: 5.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
}

.opener {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
   
}