.container {
  display: flex;
  justify-content: space-between; /* Positions the sidebar and home content */
  padding: 30px 20px;
}
/* Reset body and html background color */
body, html {
  background-color: #fff; /* or any other desired color */
  margin: 0;
  padding: 0;
}

.sidebar {
  /* Sidebar styles */
  width: 270px;
  height: 423px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
/* Add this to your CSS file */
.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home {
  /* Home content styles */
  flex: 1; /* Takes up remaining space */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.home h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.home .post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.home .post-title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home .post-content {
  color: #666;
  font-size: 16px;
}

.home .comment {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.home .comment-author {
  color: #444;
  font-size: 14px;
  font-weight: bold;
}

.home .comment-content {
  color: #666;
  font-size: 14px;
}