/* Container for the search bar */
.search-container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background and styling for the search paper */
.search-paper {
  width: 100%;
  background: linear-gradient(to right, rgba(192, 192, 192, 0.3), rgba(70, 130, 180, 0.3));
  color: #000;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the search input and button */
.search-input {
  width: 80%;
  margin-right: 10px;
}

.search-button {
  height: 56px; /* Matches the height of the TextField */
}

.search-results {
  position: absolute;
  top: 60px; /* Adjust based on the height of the search bar */
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 1000; /* Ensures it appears above other content */
  box-sizing: border-box;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.avatar {
  margin-right: 10px;
}

.list-item button {
  margin-left: 10px;
}
